@page "/Dish/{id}"
@model Food.Server.WebApi.Pages.Dish.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2 style="margin-top:10px">@Model.Dish.Name</h2>

<p class="h3">Ingredients</p>
<ul class="list-group">

    @foreach (var ingredient in Model.Dish.Ingredients)
    {
        <li class="list-group-item">@ingredient.Amount @ingredient.Unit @ingredient.Name @ingredient.Comment <span class="badge badge-info">@ingredient.Description</span></li>
    }
</ul>

<p class="h3" style="margin-top:10px">Recipe</p>
<ul class="list-group">

    @foreach (var step in Model.Dish.Recipe)
    {
        <li class="list-group-item">@GetStepNumber(step) - @step</li>
    }
</ul>

@functions {
    int GetStepNumber(string step)
    {
        return Model.Dish.Recipe.IndexOf(step) + 1;
    }
}

